{{define "base"}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{template "title" .}} - Snippetbox</title>
        <link rel="stylesheet" href="/static/css/globals.css">
        <link rel="stylesheet" href="/static/css/header.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="icon" type="image/x-icon" href="/static/image/sword.svg">
    </head>
    <body>
        <div id="root">
            <header class="header">
                <h1><a href="/">Snippetbox</a></h1>
                {{template "nav" .}}
            </header>
            <main class="main">
                {{with .Flash}}
                    <section>
                        {{.}}
                    </section>
                {{end}}
                {{template "main" .}}
            </main>
            <footer class="footer">
                Powered by by <a href="https://golang.org/">Go</a> in {{.CurrentYear}}
            </footer>
        </div>
    </body>
    <script src="/static/js/main.js"></script>
</html>

{{end}}
