{{define "title"}}Create{{end}}
{{define "main"}}
<link rel="stylesheet"  href="/static/css/twoColumnForm.css">
<form action="/snippet/create" method="POST" class="two-column-form">
    <fieldset>
        <legend>create</legend>
        <div>
            <label for="title" >Title</label>  
            {{if and .Form .Form.Title}}
                <input type="text" name="title" id="title" value="{{.Form.Title}}">
            {{else}}
                <input type="text" name="title" id="title" value="">
            {{end}}
        </div>
        {{if and .Form .Form.FieldErrors.title}}
            <label class="error" for="title">{{.Form.FieldErrors.title}}</label>  
        {{end}}
        <div>
            <label for="content">Content</label>  
            {{if and .Form .Form.Content}}
                <textarea name="content" id="content" cols="30" rows="4">{{.Form.Content}}</textarea>
            {{else}}
                <textarea name="content" id="content" cols="30" rows="4"></textarea>
            {{end}}
        </div>
        {{if and .Form .Form.FieldErrors.content}}
            <label class="error" for="content">{{.Form.FieldErrors.content}}</label>  
        {{end}}
        <div>
            <label for="expires">Delete in</label>  
            <div>
            {{if and .Form .Form.Expires}}
                <input type="radio" name="expires" id="expires" value="365" {{if eq .Form.Expires 365}}checked{{end}}> One Year
                <input type="radio" name="expires" id="expires" value="7" {{if eq .Form.Expires 7}}checked{{end}}> One Week
                <input type="radio" name="expires" id="expires" value="1" {{if eq .Form.Expires 1}}checked{{end}}> One Day
            {{else}}
                <input type="radio" name="expires" id="expires" value="365"> One Year
                <input type="radio" name="expires" id="expires" value="7"> One Week
                <input type="radio" name="expires" id="expires" value="1" checked> One Day
            {{end}}
            </div>
        </div>
        {{if and .Form .Form.FieldErrors.expires}}
            <label class="error" for="expires">{{.Form.FieldErrors.expires}}</label>  
        {{end}}
    </fieldset>
    <button type="submit">Publish</button>
</form>
{{end}}
