
{{define "title"}}Create{{end}}
{{define "main"}}
<link rel="stylesheet"  href="/static/css/snippetCreateForm.css">
<form action="/snippet/create" method="POST" class="snippet-create-form">
    <fieldset>
        <legend>create</legend>
        <div>
            <label for="title" >Title</label>  
            <input type="text" name="title" id="title" value="{{.SnippetCreateFormData.Title}}">
        </div>
        {{with .SnippetCreateFormData.FieldErrors.title}}
            <label class="error" for="title">{{.}}</label>  
        {{end}}
        <div>
            <label for="content">Content</label>  
            <textarea name="content" id="content" cols="30" rows="4">{{.SnippetCreateFormData.Content}}</textarea>
        </div>
        {{with .SnippetCreateFormData.FieldErrors.content}}
            <label class="error" for="content">{{.}}</label>  
        {{end}}
        <div>
            <label for="expires">Delete in</label>  
            <div>
            {{with .SnippetCreateFormData.Expires}}
                <input type="radio" name="expires" id="expires" value="365" {{if eq . 365}}checked{{end}}> One Year
                <input type="radio" name="expires" id="expires" value="7" {{if eq . 7}}checked{{end}}> One Week
                <input type="radio" name="expires" id="expires" value="1" {{if eq . 1}}checked{{end}}> One Day
            {{else}}
                <input type="radio" name="expires" id="expires" value="365"> One Year
                <input type="radio" name="expires" id="expires" value="7"> One Week
                <input type="radio" name="expires" id="expires" value="1" checked> One Day
            {{end}}
            </div>
        </div>
        {{with .SnippetCreateFormData.FieldErrors.expires}}
            <label class="error" for="expires">{{.}}</label>  
        {{end}}
        <button type="submit">Publish</button>
    </fieldset>
</form>
{{end}}
