{{define "title"}}Home{{end}}
{{define "main"}}
<link rel="stylesheet"  href="/static/css/latestArticles.css">
<h2>Latest Snippets</h2>
    {{if .Snippets}}
    <table class="snippets-table">
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
        </tr>
        {{range .Snippets}}
        <tr>
            <td><a href="/snippet/view/{{.ID}}">{{.Title}}</a></td>
            <td>{{.Created.Local.Format "Jan 2, 2006 -07MST"}}</td>
            <td>{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <p>There's nothing to see here yet!</p>
    {{end}}
{{end}}
